[2021-06-28 04:13] sameersrivastava13 opened #1 "Welcome to DevIncept Program 2021"
<html>
<body>
<p style="box-sizing: border-box; margin-bottom: 16px; margin-top: 0px !important; color: rgb(201, 209, 217); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; let

[2021-06-29 06:48] sameersrivastava13 opened #2 "Make a Contributors Guideline"
### AIM
Create Contributors Guideline to help new Contributors get started with this Project.

### Features
Add a CONTRIBUTING.md to allow new users to get started with knowing how to contribute.
Add Screenshots wherever possible.
Add the basic information about creating Issues, Pull Requests and Branching.
Mention tutorials related to Git and Github to help them better understand.

[2021-06-29 07:01] shivshankar9 commented on #2
Assign me

[2021-06-29 07:04] sameersrivastava13 commented on #2
okay @shivshankar9 . I am assigning this issue to you.

[2021-06-29 11:51] yagitgadhok commented on #2
assign

[2021-06-29 12:30] SOORAMNIKITHA commented on #2
Assign me an issue..

[2021-06-29 12:48] sameersrivastava13 commented on #2
Sorry @yagitgadhok & @SOORAMNIKITHA the issue has already been resolved by @shivshankar9.

[2021-06-29 12:49] #2 closed

[2021-06-29 12:53] SOORAMNIKITHA commented on #2
How should we contribute?

[2021-06-29 13:01] yagitgadhok commented on #2
Can you suggest any other issues?

[2021-06-29 14:23] shivshankar9 commented on #2
You can follow this

https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md

[2021-06-29 14:25] shivshankar9 opened #4 "Login-signup page"
Setup login-sign up page

[2021-06-29 14:28] SOORAMNIKITHA commented on #2
Thankyou so much!!!

On Tue, Jun 29, 2021, 19:54 Shiv ***@***.***> wrote:

[2021-06-29 14:30] SOORAMNIKITHA commented on #2
To be honest, iam a beginner with this kinda contributions, could anyone
help us out to contribute the whole project or we should work on our own??

On Tue, Jun 29, 2021, 19:58 SOORAM NIKITHA ***@***.***> wrote:

[2021-06-29 14:31] shivshankar9 commented on #2
Yeah sure,

[2021-06-29 14:34] SOORAMNIKITHA commented on #2
I would be happy to contribute.

On Tue, Jun 29, 2021, 20:01 Shiv ***@***.***> wrote:

[2021-06-29 14:38] shivshankar9 commented on #2
Follow the steps, if you get stuck anywhere dm me slack
Or you can connect me here too

linktr.ee/shivshankr

[2021-06-29 14:45] SOORAMNIKITHA commented on #2
Sure, will do that.

On Tue, Jun 29, 2021, 20:09 Shiv ***@***.***> wrote:

[2021-06-29 17:35] TheArushiSingh commented on #4
I'm interested in working on it.
 You can assign it to me.

[2021-06-29 18:13] yagitgadhok commented on #2
@shivshankar9 I am also new to open source projects please guide me what to do and how to do.

[2021-06-29 18:32] shivshankar9 commented on #2
You Follow the guidelines
https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md

And also you can ask to anyone mentors will guide you,
and  in contribution part if you need help, I'm always ready to guide, just reach me out👍

[2021-06-30 16:13] NikhilSharma03 commented on #4
@sameersrivastava13 Can i work on that. We can use reactJS.

[2021-07-01 12:46] sameersrivastava13 commented on #4
hello @shivshankar9  & @NikhilSharma03, Actually in this project we don't need any sign up or login page. Other information regarding the project will be shared soon with you all. So am closing this issue.

[2021-07-01 12:46] #4 closed

[2021-07-05 09:14] aishwaryas15 opened #5 "Designing application & parallex scrolling effect"

[2021-07-06 11:58] PrathmeshMutke opened #6 "Update on readme.md"
I want to update readme.md file and add some new features to it.
Plz assign me this issue

[2021-07-06 14:17] PrathmeshMutke commented on #6
Devincept 21

[2021-07-07 11:58] techabhi08 commented on #6
Sir when will you upload the source code? Like will there be any issue assigned for this project or there are these 3 issues only?

[2021-07-07 12:53] PrathmeshMutke commented on #6
I was busy in my exam preparation hence I got late here plz assign this issue someone

[2021-07-08 16:12] Prakash-Haldar opened #8 "Added Contributing.md"
**This will provide the information in "READ ME"** . **For how to contribute in This project using GIT & GitHub**
_Assigned me this issue as DCP open source 2021_

[2021-07-08 16:17] Prakash-Haldar opened #9 "Add a contributors Section"
The profile pic & name of the contributors will be shown in Readme section

[2021-07-10 05:50] aakankshabhende opened #10 "Adding Code of Conduct file"
Creating a Code of Conduct which everyone must abide by and mentioning the Scope of this Code of Conduct.

[2021-07-10 06:39] sameersrivastava13 commented on #5
Hi @aishwaryas15 can you please provide few more details or a demo that I can see and assign it to you.

[2021-07-10 06:39] sameersrivastava13 commented on #6
Sure @PrathmeshMutke. Go ahead.

[2021-07-10 06:42] sameersrivastava13 commented on #6
@techabhi08 we will be creating more issues from now. As the program has started officially from today. So be active and grab the issues as soon as it is available or you can create your own issues if you have some idea and want to contribute.

[2021-07-10 06:45] techabhi08 commented on #6
Ok sir. Waiting for the same and will raise an issue if I will find any.

[2021-07-10 06:45] sameersrivastava13 commented on #8
hi @Prakash-Haldar. Actually we already have a [Contributing.md](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md) in our project. Please have a look and provide details what extra you can add in that. If you can add something more then ill assign this issue to you.

[2021-07-10 06:45] sameersrivastava13 commented on #9
Sounds good @Prakash-Haldar. Go ahead.

[2021-07-10 06:47] sameersrivastava13 commented on #10
Hi @aakankshabhende. I believe we already have that in our project, please check once. If not, then I'll assign this issue to you.

[2021-07-10 06:59] sameersrivastava13 opened #11 "Create an Issue & Pull Request Template"
### AIM
Create a custom Issue and Pull Request Template.

### Features
Make an Issue Template. Any new Contributor must be able to specify if it is a new script or enhancement to an older one. It should also be specified which language he is coding it in.

Make a Pull Request Template. Any new Contributor must be able to specify if he has met all the requirements like Clean Code, proper README and

[2021-07-10 07:12] sameersrivastava13 opened #12 "Create the Web App UI Design"
### AIM
Create the Web UI Design in a widely-supported Design Software (Adobe XD/Figma).

### Details
We are currently looking for two pages: (Or we can also make a single page application)

**Landing Page:** An attractive Landing Page which outlines the purpose of the Project and what it aims to achieve. The landing page will have a input form. This form contains only two required input field, th

[2021-07-10 07:24] sameersrivastava13 opened #13 "Create Mock Endpoints in the Flask Application"
AIM
Create Mock endpoints for our Flask Application.

Details

We are currently looking for two pages: (Or we can also make a single page application)

Landing Page: An attractive Landing Page which outlines the purpose of the Project and what it aims to achieve. The landing page will have a input form. This form contains only two required input field, that takes pincode as input from the user and

[2021-07-10 08:05] manoj-015 commented on #11
Sir, @Sejal2801 @sameersrivastava13 can i work through this issue?

[2021-07-10 08:20] sameersrivastava13 commented on #11
Sure @MANOJ-015. I am assigning it to you. Go ahead.

[2021-07-10 08:33] aakankshabhende commented on #10
No @sameersrivastava13 sir, code of conduct file is not there.

[2021-07-10 11:38] payaldutta opened #16 "Update README.md"
I want to add labels and a point table in the readme.md file for those who are new in open source.
@sameersrivastava13  can I work on this issue under DCP'21.

[2021-07-10 12:11] sameersrivastava13 commented on #10
okay then @aakankshabhende. Go ahead.

[2021-07-10 14:19] dilroseR commented on #12
Can we do this with simple html, css and bootstrap?

[2021-07-10 16:14] MANOJ-015 commented on #11
Thank you sir, the pull request is merged. but, the issue template file i.e, `issue_template.md`  should be added into :
`settings << issues << custom template ` of the project, inorder use the template.

[2021-07-10 17:13] dilroseR commented on #12
i'll try working on Landing page
Assign it to me

[2021-07-11 03:10] sameersrivastava13 commented on #12
Yes @dilroseR . Actually we will be using html, CSS and bootstrap only to build the frontend of our application.

[2021-07-11 03:11] sameersrivastava13 commented on #12
ok @dilroseR. Assigning it to you. Go ahead.

[2021-07-11 03:37] sameersrivastava13 opened #18 "Fixing error in Readme.md file"
## Actual Behavior

Currently there is an extra java logo in the `readme.md` file which is not required in the `readme.md` file. As we have a different tech stack.

## Steps to close the Issue

To close this issue, fix the error by removing the java logo and adding a flask logo in place of that. Also links are not properly defined for html, CSS, Bootstrap, flask and JavaScript. You need to fix bot

[2021-07-11 04:03] sameersrivastava13 opened #19 "Create a basic Setup for the application"
**### Type**
Feature/Advancement

**### Description**
 Create a Folder named templates which consists of three HTML Pages. Add mock HTML Code in them to serve them from the Flask App.

1. Landing Page
2. Vaccine Tracker using pincode
3. Vaccine Tracker using district name

 Create a Folder named `Static` to serve Static Content and other Assets.
 Link Style and Script to the HTML Code.

### **Tool

[2021-07-11 04:55] Ritika-Agrawal811 commented on #18
I would like to work on this issue as part of devincept contribution programme. Please assign this issue to me.

[2021-07-11 06:21] sameersrivastava13 commented on #18
@Ritika-Agrawal811 Assigning it to you. Go ahead.

[2021-07-11 06:41] sameersrivastava13 opened #21 "Add Documentation on setting Flask"
### **Type**
Advancement

### Description
Create a Documentation File using Markdown and add it into a specific Documentation/ directory to allow new contributors to get started with setting Flask. The features to be added in the documentation includes:

- Give a basic idea about Flask as a Micro Web-Framework.
- Give a step-wise plan of setting Flask on Windows/Linux/OSX Environment.
- Add Screen

[2021-07-11 06:46] sameersrivastava13 commented on #16
@payaldutta What kind of labels & point table you want to add? Please can you provide few more details or an example to get better idea whether its needed or not.

[2021-07-11 06:58] #10 closed

[2021-07-11 07:11] MANOJ-015 commented on #19
Sir, @sameersrivastava13 @Sejal2801 Can i work through this issue?

[2021-07-11 07:12] Swathi-A469 commented on #8
Can I make a contribution on this read me fill

[2021-07-11 07:14] Prakash-Haldar commented on #8
The way to contribute include the : How to create pull request
fork the repo , clone it , how to push .
This will help people to contribute to this project @sameersrivastava13

[2021-07-11 07:31] MANOJ-015 commented on #19
Sir, Can i work through the issue?

[2021-07-11 07:31] swathi-469 commented on #8
Can I work on this issue ..I am beginner in open source ... please assign me

[2021-07-11 07:32] MANOJ-015 commented on #19
Sir, @sameersrivastava13 @Sejal2801 Can i Work through the issue?
and what should be file names of  three html files

[2021-07-11 08:18] swathi-469 commented on #16
Can I Work on this issue please assign this to me I am a beginner so it would easy to start

[2021-07-11 09:44] sameersrivastava13 commented on #16
Hi @swathi-469 . Actually this issue is created by @payaldutta. Therefore she will be working on this after she provides me details about the feature she is going to add. You can look for some other beginner issues or can wait as I will be creating many more issues soon.

[2021-07-11 09:46] sameersrivastava13 commented on #9
@Prakash-Haldar any updates?

[2021-07-11 09:48] Prakash-Haldar commented on #9
Yess i m solving this issue

[2021-07-11 10:11] swathi-469 commented on #16
Ohh kk I will wait for some beginner friendly issues.

On Sun, 11 Jul 2021, 3:15 pm sameer srivastava, ***@***.***>
wrote:

[2021-07-11 10:11] Prakash-Haldar commented on #8
@sameersrivastava13  Can I start working on this issue ?

[2021-07-11 12:28] #9 closed

[2021-07-11 15:00] Satishcsg commented on #21
I was interested to contribute. Please assign this task.

[2021-07-11 15:30] sameersrivastava13 commented on #21
Go ahead @Satishcsg . Assigning you the issue.

[2021-07-11 15:31] sameersrivastava13 commented on #18
@Ritika-Agrawal811 any updates?

[2021-07-11 15:31] #6 closed

[2021-07-11 15:31] #11 closed

[2021-07-11 15:37] Prakash-Haldar commented on #18
If No one is contributing to this issue , can I proceed for this @sameersrivastava13

[2021-07-11 15:40] Ritika-Agrawal811 commented on #18
I am done. Just making my pull request in a few minutes.

[2021-07-11 15:41] sameersrivastava13 commented on #18
No issues take your time @Ritika-Agrawal811.

[2021-07-11 15:42] sameersrivastava13 commented on #18
Don't worry @Prakash-Haldar . I'll be creating more issues tomorrow you can take those if you want. Till then you can explore other available issues.

[2021-07-11 19:03] Ritika-Agrawal811 commented on #18
@sameersrivastava13 I have made a PR. Could you look into it?

[2021-07-12 06:09] sameersrivastava13 commented on #18
I have requested few changes please check once. @Ritika-Agrawal811

[2021-07-12 07:15] #18 closed

[2021-07-12 07:22] sameersrivastava13 opened #25 "Create the Landing Page for the Website"
### Type
Advancement

### Description
Create the Landing Page for the Website using HTML, CSS, Bootstrap and JavaScript. Refer this for the [UI Wireframe](https://github.com/sameersrivastava13/Vaccine-Tracker-App/tree/main/Front-end_UI) that you would need to follow.

You will have maximum 7 Days to work on this.

### Tools
HTML
CSS
Bootstrap
JavaScript

Have you read the [Contributing Guidelines

[2021-07-12 08:03] Satishcsg commented on #21
could you tel me where would I have to include documentation file in the project ?

[2021-07-12 08:07] dilroseR commented on #25
i would like to work on this

[2021-07-12 08:17] purohitmansi commented on #25
Please do assign this to me.

[2021-07-12 08:32] Satishcsg commented on #21
Could you tell me where would I have to include this markdown file ? Is it like create a new folder and and placing the md file in that folder. If it so, what name should be given to that folder ?

[2021-07-12 08:43] Prakash-Haldar commented on #9
May I got The google form of "DevIncept.codes " Form @sameersrivastava13

[2021-07-12 08:58] sameersrivastava13 commented on #25
@dilroseR & @purohitmansi you both can start working on it and submit the PR. Will then merge the better one in to the main branch.

[2021-07-12 09:00] sameersrivastava13 commented on #9
I have shared the form in the slack channel.

[2021-07-12 09:19] sameersrivastava13 opened #26 "Design a Page for project Contributors + Admin + Mentors"
### Type
Advancement

### Description
Design a Page using a UI Prototyping Tool like Adobe XD/Figma, for the Project Contributors, Mentors and Project admin. Make sure to submit the design in Image/PDF Format along with the raw file in the appropriate design/ directory. The page should have two parts:

Project Admin and Mentors
Contributors

You can use Dummy Data for the designing part.

### Tool

[2021-07-12 09:32] Prakash-Haldar commented on #9
Plz share the link of Slack Channel @sameersrivastava13

[2021-07-12 12:17] aishwaryas15 commented on #5
Shall I attach a screenshot? So u can get it?

[2021-07-12 12:41] NagaSudheer-123 commented on #19
Please, assign this...I am interested in taking this issue.

[2021-07-12 15:06] PrathmeshMutke opened #28 "Mit liscence gif in readme.md"
Hi there,
I want to add Mit liscence gif for readme.md file
please assign me this issue..

[2021-07-12 15:20] sameersrivastava13 commented on #28
ok @PrathmeshMutke. Assigning it to you.

[2021-07-12 15:22] sameersrivastava13 commented on #19
Assigned @NagaSudheer-123. Go ahead.

[2021-07-12 15:23] #16 closed

[2021-07-12 15:24] sameersrivastava13 commented on #5
Yes please @aishwaryas15.

[2021-07-12 15:25] sameersrivastava13 commented on #8
@swathi-469 Assigning it to you. Start working on it.

[2021-07-12 15:27] sameersrivastava13 commented on #8
@Prakash-Haldar Actually just now I have assigned you another issue. Please complete that issue first and if @swathi-469 is not able to submit PR within 2 days then I'll assign it to you.

[2021-07-12 15:29] sameersrivastava13 commented on #8
ok go ahead @Prakash-Haldar . Assigning it to you.

[2021-07-12 15:30] sameersrivastava13 commented on #8
@swathi-469 if @Prakash-Haldar is not able to submit PR within 2 days then I'll it to you. Till then you can explore other issues or wait for new beginner friendly issues.

[2021-07-12 15:34] #21 closed

[2021-07-12 15:36] PrathmeshMutke opened #29 "Addition of Project maintainer in readme.md"
Hi there,
I want to add Project maintainer feature in readme.md file
please assign me this issue.

[2021-07-12 15:39] sameersrivastava13 commented on #29
ok @PrathmeshMutke. I will assign you this issue. But first complete the previous issue assigned to you. Get that successfully merged and then I'll assign you this issue.

[2021-07-12 15:46] swathi-469 commented on #8
You already assigned it to me so I completed my work and ready to make my pull request.. please consider

[2021-07-12 15:59] swathi-469 commented on #8
Shall i create a pull request

[2021-07-12 16:03] sameersrivastava13 commented on #8
@swathi-469 actually @Prakash-Haldar created this issue and asked me to assign first before you. So you can wait for at least 24 hours if he doesn't make the PR then you can.

[2021-07-12 16:03] sameersrivastava13 commented on #8
@swathi-469 actually @Prakash-Haldar created this issue and asked me to assign first before you. So you can wait for at least 24 hours if he doesn't make the PR then you can.

[2021-07-12 16:18] swathi-469 commented on #8
Ok sir

[2021-07-12 17:16] Prakash-Haldar commented on #8
Hey @swathi-469  I Think First of all you should Learn a Lit Bit about " Issue Made By admin" "Issue Made By Contributors"
I remember  that today morning you do the same thing in mine assigned project & Also in Others one , I saw That The issue which was already assigned to someone or create by them you poke them to give it you  . Please Don't Create any mess .** Open source is a platform to learn

[2021-07-12 17:25] #8 closed

[2021-07-12 17:27] sameersrivastava13 commented on #29
@PrathmeshMutke Assigning you the issue.

[2021-07-12 17:40] aishwaryas15 commented on #5
https://user-images.githubusercontent.com/62896706/125332007-56f50680-e366-11eb-92ad-a14a02f4df2d.mp4

this is just a example i made

[2021-07-12 17:49] swathi-469 commented on #8
I am very to new open-source contribution , so thought that I they create issue and we need to work on it . Later I realized that we can also create a new issue .. so sorry the trouble caused by me .

[2021-07-13 03:49] sameersrivastava13 commented on #5
Looks great @aishwaryas15. I am assigning you the issue. Start working on designing the application & adding parallex scrolling effect. We also have one [UI design](https://github.com/sameersrivastava13/Vaccine-Tracker-App/tree/main/Front-end_UI) ready with us. Please have a look and try designing the application according to that if possible. OR if you have another design then you can show that a

[2021-07-13 09:14] sameersrivastava13 commented on #28
@PrathmeshMutke Are you willing to complete this issue?

[2021-07-13 09:15] sameersrivastava13 commented on #29
@PrathmeshMutke Any updates?

[2021-07-13 09:27] Sejal2801 opened #33 "Adding a Favicon"
### Description
As we know Favicon serves as branding for a website. Its main purpose is to help the visitors locate your page easier when they have multiple tabs open. So we need a logo/favicon for our website. The logo should be related to the topic of the project.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/mai

[2021-07-13 12:04] nagasaisriya commented on #33
Hey @Sejal2801, would like to work on making a logo! Could you assign me this

[2021-07-13 12:27] Sejal2801 commented on #33
Ok @nagasaisriya  Assigning it to you, Go ahead.

[2021-07-13 13:10] sameersrivastava13 commented on #25
Any updates @dilroseR & @purohitmansi ?

[2021-07-13 13:17] purohitmansi commented on #25
I am working on it. I will update you after 2 days if I am able to or not.

On Tue, 13 Jul 2021, 6:40 pm sameer srivastava, ***@***.***>
wrote:

[2021-07-13 13:55] nagasaisriya commented on #33
Thanks!
![VACCINE TRACKER APP](https://user-images.githubusercontent.com/63009472/125464332-8712ec18-bf5a-47f7-9182-6b01d6c85403.png)

This is the logo design, feel free to suggest any edits:)

[2021-07-13 14:08] sameersrivastava13 commented on #33
Looks good to me @nagasaisriya. What are your thoughts @Sejal2801 ?
Do one thing @nagasaisriya create a folder name `Logo` and place this image file in that folder in either .SVG or .PNG format and submit pull request.

[2021-07-13 14:11] sameersrivastava13 commented on #33
@Sejal2801 Will keep this issue open for all. Later on will select the best logo out of the available for our application.

[2021-07-13 14:13] nagasaisriya commented on #33
Sure :)

[2021-07-13 14:16] anupamishra333 opened #34 "Scroll to top button"
Can I add a Scroll to the top button on this website?

[2021-07-13 14:20] sameersrivastava13 commented on #34
@anupamishra333 Yes you can but right now the front end of our web app is not ready. @dilroseR and @purohitmansi are working on building the front end of our application.
So you can wait and later on when it is ready I'll assign it to you. Till then you can explore other available issues.

[2021-07-13 14:22] Sejal2801 commented on #33
Ya it's looking good😊

On Tue, 13 Jul, 2021, 7:43 PM nagasaisriya, ***@***.***>
wrote:

[2021-07-13 14:22] sameersrivastava13 commented on #25
Ok nice @purohitmansi. @dilroseR Any updates?

[2021-07-13 14:22] anupamishra333 commented on #34
ohk no issue @sameersrivastava13

[2021-07-13 16:21] deed-pooL commented on #29
I am interested, kindly assign this task to me

[2021-07-13 16:44] Sejal2801 commented on #33
ya Sure

[2021-07-13 16:59] dilroseR commented on #25
I'm working on the issue as well.. will finish it in 1-2 days

[2021-07-14 05:26] Sejal2801 commented on #25
Okay Great.Keep going.

[2021-07-14 05:28] Sejal2801 commented on #33
The issue is open for all. Anyone willing to design the logo can take this issue.

[2021-07-14 07:24] purohitmansi commented on #25
You can go ahead.

On Wed, 14 Jul 2021, 10:56 am Sejal2801, ***@***.***> wrote:

[2021-07-14 08:25] sameersrivastava13 commented on #29
Assigning it to you @deed-pooL. Go ahead. You have 24 hours to complete and submit the PR.

[2021-07-14 08:27] sameersrivastava13 commented on #25
Any issues? @purohitmansi

[2021-07-14 08:29] sameersrivastava13 commented on #25
okay great @dilroseR . After finishing this you can also see issue no. #26 . Will assign it to you if you are ready to take that as well.

[2021-07-14 08:32] purohitmansi commented on #25
Yes, I am not able to resolve this.

On Wed, 14 Jul 2021, 1:59 pm sameer srivastava, ***@***.***>
wrote:

[2021-07-14 08:36] dilroseR commented on #25
You can assign it to someone else. 👍

[2021-07-14 10:27] deed-pooL commented on #29
Please provide me with any specific details if you have. I will complete
the task by 15th july.

On Wed, 14 Jul 2021 at 13:56, sameer srivastava ***@***.***>
wrote:

[2021-07-14 11:25] sameersrivastava13 commented on #29
For now you can just add heading `(Project maintainer)`, my name, and photograph. All these you can find in my profile. Take reference from other readme files.

[2021-07-14 11:34] deed-pooL commented on #29
Sure, will do that.

On Wed, 14 Jul 2021 at 16:55, sameer srivastava ***@***.***>
wrote:

[2021-07-14 11:41] sameersrivastava13 commented on #19
@NagaSudheer-123 any updates?

[2021-07-14 15:00] #25 closed

[2021-07-14 15:09] sameersrivastava13 opened #37 "Add a Footer for the application"
### Type
Enhancement

### Description
Add a basic footer with copyright symbol. Also you can add a text like `Made with ❤️ for the people of India.`

### Tools
HTML
CSS

[2021-07-14 15:11] AmruthaCK commented on #37
Can I work on this issue under DCP'21

[2021-07-14 15:12] sameersrivastava13 commented on #37
Awesome @AmruthaCK. Go ahead.

[2021-07-14 15:12] Amrutha1101 commented on #37
Sorry, that was my another account

[2021-07-14 15:12] Amrutha1101 commented on #37
Can I work on the issue?

[2021-07-14 15:15] sameersrivastava13 opened #38 "Add a responsive navigation bar"
### Description
Add a responsive navigation bar for the application. The items that are to be included in the navigation bar are:

1. Name of the application (Vaccine Tracker)
2. Home
3. Search by Pincode
4. Search by District Name
5. Contact

### Tools
HTML
CSS

[2021-07-14 15:17] sameersrivastava13 commented on #37
Yes @Amrutha1101. Go ahead.

[2021-07-14 15:17] Biswa-bob commented on #34
Can i work on this issue please !!

[2021-07-14 16:06] anupamishra333 commented on #34
@Biswa-pop This issue is on hold and I already created this feature so please try to work on different as I am also doing work on another

[2021-07-14 16:06] anupamishra333 commented on #34
@Biswa-pop This issue is on hold and I already created this feature so please try to work on different as I am also doing work on another

[2021-07-14 16:06] anupamishra333 commented on #34
@Biswa-pop This issue is on hold and I already created this feature so please try to work on different as I am also doing work on another

[2021-07-14 16:12] Biswa-bob commented on #34
@anupamishra333 Actually I have used this feature in my previous project so I wanted to help

[2021-07-14 18:04] anupamishra333 commented on #33
Can i contribute ?

[2021-07-14 18:14] Sejal2801 commented on #33
Yes you can contribute @anupamishra333 .Go ahead.

[2021-07-14 18:24] anupamishra333 commented on #33
![favicon](https://user-images.githubusercontent.com/66557767/125673111-a4074b14-acfd-4967-9d54-9ee2eb4bef46.png)
Added this since the size of a favicon is small and writing text in favicon doesn't make sense.

[2021-07-14 18:28] sameersrivastava13 commented on #34
@Biswa-bob & @anupamishra333 today only we got our front end ready. Please have a look by either cloning or downloading the files. See what improvements can you both do in that as according to me many improvements are required. It is not responsive also I guess therefore if you can make it responsive first and then add the scroll to top and other features. It will be great.

[2021-07-14 18:34] anupamishra333 commented on #34
can u assign me i am working on this now

[2021-07-14 18:35] sameersrivastava13 commented on #34
ok @anupamishra333. Go ahead

[2021-07-15 02:05] Biswa-bob opened #40 "Making the header Responsive"
## Actual Behavior

The Header is not Responsive

## Steps to close the Issue

 By Creating a container and adding columns.

## Specifications

  - Language Used: HTML,CSS

[2021-07-15 02:46] Biswa-bob commented on #38
Can I work on this please

[2021-07-15 04:42] sameersrivastava13 commented on #38
@Biswa-bob go ahead. Assigned.

[2021-07-15 04:43] sameersrivastava13 commented on #40
Awesome @Biswa-bob. You can work on this issue. But just now I have assigned you another issue. Complete that first, submit the PR come back here and I'll assign it to you.

[2021-07-15 04:50] sameersrivastava13 commented on #5
@aishwaryas15 Updates?

[2021-07-15 06:55] Biswa-bob commented on #38
![nav-f](https://user-images.githubusercontent.com/56729624/125742892-b22e571d-6bff-4e6a-92d0-b130bc15af9b.png)

IS this design alright?

[2021-07-15 06:57] Biswa-bob commented on #38
![nav-s](https://user-images.githubusercontent.com/56729624/125743158-828f79c3-fcc6-4874-b16b-cd2a97960245.png)

For small Screen

[2021-07-15 07:38] aishwaryas15 commented on #5
Yeah sorry.By tonight I'll submit it

[2021-07-15 07:39] nirban07 commented on #26
Hi @sameersrivastava13 i would like to help ....assign this issue to me

[2021-07-15 07:53] Biswa-bob commented on #38
![nav-s1](https://user-images.githubusercontent.com/56729624/125750661-c16d304f-37ce-466f-a0e6-7c4b5038f36e.png)
![nav-s2](https://user-images.githubusercontent.com/56729624/125750668-345d858d-b3dc-4ad5-9b7c-f7537917141a.png)

For Small Screen

[2021-07-15 12:29] sameersrivastava13 commented on #38
Looks quite good @Biswa-bob. Please have a look at this [navigation bar](https://www.sanjeevaniportal.xyz/vaccinetrackerbypincode). Can you please try making the nav. bar like this?

[2021-07-15 12:33] sameersrivastava13 commented on #40
ok @Biswa-bob. I am assigning this issue to you. You can continue working on both the issues and submit PR solving both nav bar and this one. Will give you score for solving both of them. Go ahead.

[2021-07-15 14:51] Biswa-bob commented on #38
![head-f](https://user-images.githubusercontent.com/56729624/125808698-7bba2c56-ee04-4c90-86d0-5b1d99eac58e.png)

Full Size screen

![head-s](https://user-images.githubusercontent.com/56729624/125808740-03101f9b-0226-4a69-9c15-20869d867d19.png)

Small Size screen

[2021-07-15 14:57] sameersrivastava13 commented on #38
Awesome @Biswa-bob. Looks good to me now. What are your thoughts @Sejal2801 ?

[2021-07-15 15:00] sameersrivastava13 commented on #38
Just do one more thing @Biswa-bob. Replace `oxygen`  to `Latest news` or `News`.  Now you can make the changes and submit the PR. Will review it there now.

[2021-07-15 15:52] Sejal2801 commented on #38
Its Awesome. Looks good to me also

[2021-07-15 15:54] Biswa-bob commented on #38
done and ready to push

[2021-07-15 15:56] Sejal2801 commented on #38
Have you made changes?

[2021-07-15 15:57] Sejal2801 commented on #38
If you have made then please submit the PR

[2021-07-15 16:18] Biswa-bob commented on #38
Done please review it

[2021-07-16 04:27] deed-pooL commented on #26
@sameersrivastava13 Assign me this, I will finish this by 17th July .
Thanks

[2021-07-16 04:33] sameersrivastava13 commented on #26
Great @deed-pooL & @nirban07 you both can work on this issue. Go ahead.

[2021-07-16 12:05] #37 closed

[2021-07-16 12:05] #40 closed

[2021-07-16 12:05] #38 closed

[2021-07-16 13:01] kumarishalini6 opened #45 "Custom scrollbar"
@sameersrivastava13  i want to make custom scrollbar.
can i work on this issue??

[2021-07-16 13:07] kumarishalini6 opened #46 "Contact Us page"
I have seen there is no contact us exist in the project

@sameersrivastava13 i want to design contact page ca i??

[2021-07-16 15:29] sameersrivastava13 commented on #46
ok great @kumarishalini6. Actually I was going to open this issue. Thanks for doing it. Go ahead.

[2021-07-16 15:31] #5 closed

[2021-07-16 15:31] #19 closed

[2021-07-16 15:32] sameersrivastava13 commented on #26
@deed-pooL & @nirban07  any updates?

[2021-07-16 15:33] sameersrivastava13 commented on #45
@kumarishalini6 Already assigned you another issue. Please complete that first then I will assign it to you.

[2021-07-16 15:33] kumarishalini6 commented on #45
Ok

[2021-07-16 17:25] ayushsoni1010 opened #49 "Add img bot"
**Is your feature request related to a problem? Please describe.**
Adding an image bot to the project will help us optimize images

**Describe the solution you'd like**
Any Project Admin can add this through this link: https://github.com/marketplace/imgbot

**Screenshots**
![image](https://user-images.githubusercontent.com/76895975/125985323-c07c4e91-cc94-4119-bb4b-2fd1f4184020.png)

[2021-07-16 17:57] sameersrivastava13 commented on #49
Yes much needed @ayushsoni1010 . Are you willing to take it and complete?

[2021-07-16 18:03] ayushsoni1010 commented on #49
Sure @sameersrivastava13 :)

[2021-07-16 18:45] ayushsoni1010 opened #50 "Updating Readme"
**Is your feature request related to a problem? Please describe.**
Adding Website and Playstore link

**Describe the solution you'd like**
Updating Readme.md file by adding links as this project got deployed and adding a logo type image

**Screenshots**
![image](https://user-images.githubusercontent.com/76895975/125994406-dfd4e744-e845-4590-b1f9-f1174b8d31b3.png)

[2021-07-16 18:49] sameersrivastava13 commented on #49
ok @ayushsoni1010. Assigning it to you.

[2021-07-16 18:54] divyaachoudharyy opened #51 "FrontEnd"
I want to make some changes in the content which is written on the page. I also want to remove one picture to see how the page looks. I want to do little modifications on the frontend part.

[2021-07-16 19:16] ayushsoni1010 commented on #50
Sorry, it was bi-mistakenly mentioned this issue here (Img Bot Added)

[2021-07-17 04:08] sameersrivastava13 commented on #50
Go ahead @ayushsoni1010. Assigned.

[2021-07-17 04:09] sameersrivastava13 commented on #51
okay @divyaachoudharyy. Go ahead. Assigning it to you.

[2021-07-17 04:34] Sayan-15 commented on #33
can i contribute in this logo designing?

[2021-07-17 04:47] Sejal2801 commented on #33
Yes @Sayan-15 Assigning it to you, Go ahead.

[2021-07-17 04:50] Sejal2801 commented on #33
Yes @Sayan-15 Assigning it to you, Go ahead.

[2021-07-17 05:38] 2024-SANDHYA opened #53 "Modifying the header"
Want to work on the header (Adding some CSS Effects) and linking the pages to one another.Will also add Favicon.

[2021-07-17 06:30] sameersrivastava13 commented on #53
Go ahead @2024-SANDHYA.

[2021-07-17 06:32] #29 closed

[2021-07-17 06:33] #49 closed

[2021-07-17 06:50] #28 closed

[2021-07-17 06:54] SukhbirSinghKhalsa commented on #45
Can I know where custom scroll bar is needed ?

[2021-07-17 07:00] vijay3150 commented on #33
Can i contribute in logo designing.

[2021-07-17 07:02] sameersrivastava13 commented on #33
Go ahead @vijay3150

[2021-07-17 07:31] Sayan-15 commented on #33
@sameersrivastava13 @Sejal2801 I had made few logo. Would like to see it? Shall I send it here or through a PR request?

[2021-07-17 07:32] Sayan-15 commented on #33
@sameersrivastava13  @Sejal2801 I had made few logo. Would like to have a look on them? Shall I send them here or through a PR request?

[2021-07-17 07:34] ayushsoni1010 opened #55 "Add a Preloader"
**Is your feature request related to a problem? Please describe.**
When a user used to open a website, it would load completely and looks pretty.

**Describe the solution you'd like**
Adding a preloader would help us to load graphics and all content.

[2021-07-17 07:46] kumarishalini6 commented on #45
@sameersrivastava13  i have completed my task now can you assign me??

[2021-07-17 07:49] kumarishalini6 commented on #55
if no one is working can i work on this issue??

[2021-07-17 08:34] divyaachoudharyy commented on #51
okay:)

[2021-07-17 08:55] sameersrivastava13 commented on #55
Go ahead @ayushsoni1010. Assigning it to you. Make sure the pre loader `(If you will be using any gif or something)` is related to the theme of the project.

[2021-07-17 08:56] #50 closed

[2021-07-17 08:57] #34 closed

[2021-07-17 09:01] sameersrivastava13 commented on #33
You can submit PR and show your designs there only. Also, Before submitting pr please fetch upstream.

[2021-07-17 09:13] sameersrivastava13 opened #57 "Fixing the contribution Guidelines"
### Description
The contribution Guidelines in the readme file has many issues that needs to be fixed asap. Like the Screen shots( need cropped images) and `master` has to be replaced with `main`.

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md)?
Yes

[2021-07-17 09:47] Sayan-15 commented on #33
![vaccine tracker logo3](https://user-images.githubusercontent.com/72929741/126033062-8f500b32-1fa3-4f63-ba71-c1b1edd1f43e.png)
![vaccine tracker logo4](https://user-images.githubusercontent.com/72929741/126033063-82f119db-7055-4705-8bf7-5cde84bec7ec.png)
I personally Liked these 2 logos the most.

[2021-07-17 09:52] Sayan-15 commented on #33
@sameersrivastava13  @Sejal2801 Submitted the PR request.
![vaccine tracker logo4](https://user-images.githubusercontent.com/72929741/126033127-d6ab0260-ce71-447d-a139-fbb54bea7ceb.png)
Transparent Backgrounds are also submitted in the PR.

[2021-07-17 09:53] Sayan-15 commented on #33
@sameersrivastava13 @Sejal2801 Submitted the PR request.
![logo4](https://user-images.githubusercontent.com/72929741/126033160-b2788838-2c5b-4f11-bae4-9461a598d8bb.png)

Transparent Backgrounds are also submitted in the PR.

[2021-07-17 11:06] sufu786 commented on #57
can I do it?

[2021-07-17 12:16] sameersrivastava13 commented on #57
@sufu786 Go ahead.

[2021-07-17 12:19] sameersrivastava13 commented on #33
@Sayan-15 Please submit PR again with proper message. `Here are the few options I had made for the logo.... size 100*100dp.`
All these you can mention in the description. While submitting the PR give a meaningful title please. I merged your pr then reverted it back. Now you have to submit it again.

[2021-07-17 13:23] ayushsoni1010 opened #62 "Bug : Image is not stable"
## Actual Behavior

The image is not properly stable

## Steps to close the Issue

Now, Image is properly stable and responsive on resize

## Check List (check only one)

- [x] Enhancement to the Older script.

## Specifications

  - Language Used:  CSS

## Screenshots & Video
The left tab is mine in which the issue has been resolved
The right tab is the website

https://user-images.githubusercont

[2021-07-17 13:41] sameersrivastava13 commented on #62
ok @ayushsoni1010. Assigning it to you. Also please see if there are any images which are not been used anywhere. Then remove that as well.

[2021-07-17 13:41] ayushsoni1010 commented on #62
Okay I will see once again :)

[2021-07-17 13:54] sameersrivastava13 opened #64 "Updating Readme .md File"
### Description
Update the readme file by adding the text `Made with ❤️ for the people of India` .

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md)?
Yes

[2021-07-17 14:08] Sayan-15 commented on #33
@sameersrivastava13 okay.  As it was my first PR on GitHub, that's why the PR was not that much descriptive. I had submitted the PR again. Hope this time it would be much descriptive.

[2021-07-17 14:10] sameersrivastava13 commented on #33
Already Merged @Sayan-15 . Good work.

[2021-07-17 15:12] deek121477 commented on #64
I can wok on this issue

[2021-07-17 16:13] sameersrivastava13 commented on #64
@deek121477 Go ahead. You have 24 hours to complete it.

[2021-07-17 16:13] #46 closed

[2021-07-17 16:14] #57 closed

[2021-07-17 16:14] sameersrivastava13 commented on #45
@kumarishalini6 Go ahead.

[2021-07-17 16:42] kumarishalini6 opened #72 "chat bot"
**Is your feature request related to a problem? Please describe.**
I want to make a chat bot
@sameersrivastava13 can i work on this issue??

[2021-07-17 17:18] sameersrivastava13 commented on #72
Wow @kumarishalini6. 🔥 It will be great if you can add the chat bot to the application.
Assigning it you, go ahead.

[2021-07-17 17:20] sameersrivastava13 commented on #72
Also @kumarishalini6, I have requested you to fetch the upstream in your previous PR. Please have a look so that I can merge it immediately. then you can start working on this.

[2021-07-17 18:47] #55 closed

[2021-07-18 02:37] Biswa-bob opened #75 "Contact form Scroll button and text optimization"
## Actual Behavior

text size is reduced.
scroll button is not smooth

## Steps to close the Issue

 _provide an overview, how you will solve the issue_

## Check List (check only one)

- [ ] Creating New Script.
- [ ] Enhacment to Older script.

## Specifications

  - Language Used: _ex: python_

[2021-07-18 03:51] sameersrivastava13 commented on #75
Assigning it to you @Biswa-bob. But you need to wait for the issue to be assigned to you. Then you should submit PR. Anyways, no issues. Go ahead

[2021-07-18 04:49] deek121477 commented on #64
I have made changes

[2021-07-18 04:58] sameersrivastava13 commented on #64
@deek121477 quite difficult to review the same PR again. Do the following :

1. Fetch upstream as your branch is many commits behind. fetch the changes.
2. Without making any changes to the readme file. Just add that text `Made with ❤️ for the people of India` in the readme file.
3. Close your current PR and submit new PR with the changes I asked.

[2021-07-18 05:52] #45 closed

[2021-07-18 06:05] sameersrivastava13 opened #77 "Add Lazy Loading"
### Description
Normally when a user opens a webpage, the entire page’s contents are downloaded and rendered in a single go. While this allows the browser to cache the web page, there’s no guarantee that the user will actually view all of the downloaded content.

Lazy loading a webpage reduces page weight, allowing for a quicker page load time. Add lazy loading to the application. Take reference [

[2021-07-18 06:45] #72 closed

[2021-07-18 07:27] Biswa-bob opened #80 "Adding footer to contact Page"
## Actual Behavior

Missing footer in contact page

## Steps to close the Issue

Adding footer to the contact page.

## Check List (check only one)

- [X] Enhacment to Older script.

## Specifications

  - Language Used: HTML, CSS

[2021-07-18 07:31] sameersrivastava13 commented on #80
Assigned @Biswa-bob

[2021-07-18 07:32] #75 closed

[2021-07-18 07:39] sameersrivastava13 opened #81 "Design/Add a Page for project Contributors + Admin + Mentors"
### Description
Design a Page or directly build a page for the Project Contributors, Mentors and Project admin. The page should have two parts:

Project Admin and Mentors (Name, photograph, GitHub & LinkedIn )
Contributors (Name, photograph, GitHub & LinkedIn )

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBU

[2021-07-18 07:40] #26 closed

[2021-07-18 07:53] dilroseR commented on #77
do you want lazy loading for only images ?

[2021-07-18 08:13] sameersrivastava13 commented on #77
Yes @dilroseR. Actually the images are creating issues and taking lot of time to load. I just want the page to load more quickly, reduce page weight and load time.

[2021-07-18 08:15] dilroseR commented on #77
Can I try?
should apply lazy load to all images right?

[2021-07-18 08:21] sameersrivastava13 commented on #77
Yes go ahead @dilroseR. Do whatever you can in order to optimize the page load time.

[2021-07-18 10:33] #62 closed

[2021-07-18 10:33] #51 closed

[2021-07-18 10:34] #12 closed

[2021-07-18 10:38] sameersrivastava13 opened #83 "Add a 404 Error page"
### Description
To add a 404 error page to keep a visitor on your site even if he/she hits a page that doesn't exist. Also to change the bad User experience to a positive one by adding some links to that 404 page so that the visitor can navigate to some other page.

### Tools

html
css

Take reference [from here](https://github.com/sameersrivastava13/404-Error-Pages).

Have you read the [Contribut

[2021-07-18 11:50] kumarishalini6 commented on #81
@sameersrivastava13  can I work on this issue??

[2021-07-18 11:50] Biswa-bob commented on #80
![contact-res](https://user-images.githubusercontent.com/56729624/126065807-226c3ebd-e7ad-44fc-b386-f409cca238e8.png)
![contact-res-1](https://user-images.githubusercontent.com/56729624/126065880-655b2019-58d4-4a67-a9c2-914b76741f23.png)

brother the page has gone complete out of track .. brother @sameersrivastava13  .

[2021-07-18 12:16] dilroseR commented on #83
Can I Take up this?

[2021-07-18 12:36] #77 closed

[2021-07-18 12:38] sameersrivastava13 commented on #83
@dilroseR Assigned. I have also attached a link take help from that.

[2021-07-18 12:38] sameersrivastava13 commented on #81
@kumarishalini6 Go ahead.

[2021-07-18 16:02] Biswa-bob opened #85 "Adding Search by pin code page"
## Actual Behavior

New Page - Search by Pin code.

## Steps to close the Issue

 _provide an overview, how you will solve the issue_

## Check List (check only one)

- [ ] Creating New Script.
- [ ] Enhacment to Older script.

## Specifications

  - Language Used: _ex: python_

[2021-07-18 18:49] sameersrivastava13 commented on #85
Go ahead @Biswa-bob .

[2021-07-18 18:50] sameersrivastava13 commented on #85
@Biswa-bob What about the another issue? Did you completed that?

[2021-07-19 09:34] #83 closed

[2021-07-19 09:36] sameersrivastava13 opened #87 "Updating Readme .md File"
### Description
Update the readme file by adding the text `Made with ❤️ for the people of India` .

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBUTING.md)?
Yes

[2021-07-19 09:36] #64 closed

[2021-07-19 13:59] sameersrivastava13 commented on #81
@kumarishalini6 updates?

[2021-07-19 14:00] sameersrivastava13 commented on #80
@Biswa-bob Updates?

[2021-07-19 14:01] kumarishalini6 commented on #81
Actually tomorrow is my last external can I start after that

[2021-07-19 14:13] sameersrivastava13 commented on #81
Yea sure. no issues.

[2021-07-19 14:42] #53 closed

[2021-07-19 14:47] shivanshi-s commented on #87
Hello, I would like to work on this issue under DCP'21, could assign it to me?
Also, where in the file would you want this ?

[2021-07-19 15:00] sameersrivastava13 commented on #87
Assigning it to you @shivanshi-s. Go ahead.
Add it anywhere in the readme file where it looks good or add it some where below the heading `Vaccine Tracker App`.

[2021-07-19 15:02] sameersrivastava13 commented on #87
Nothing else you have to do @shivanshi-s. Just add the text `Made with ❤️ for the people of India` in the readme file.

[2021-07-19 15:09] shivanshi-s commented on #87
Okay, thanks!

[2021-07-19 17:25] #87 closed

[2021-07-21 05:13] Sejal2801 commented on #81
Any Updates @kumarishalini6  ?

[2021-07-21 05:38] kumarishalini6 commented on #81
@Sejal2801  I am working on it

[2021-07-21 05:46] mayankmohak opened #91 "image overlapping with chat bot window!!!"
## Actual Behavior

![image](https://user-images.githubusercontent.com/63801800/126437333-fb6ba8da-90f0-479e-8d96-38bf7bf7d814.png)
Image should be below chat bot.

## Steps to close the Issue

 _provide an overview, how you will solve the issue_

## Check List (check only one)

- [ ] Creating New Script.
- [x] Enhacment to Older script.

## Specifications

[2021-07-21 05:51] sameersrivastava13 commented on #91
@mayankmohak Yes please go ahead. The issue needs to be fixed asap.

[2021-07-21 06:17] sameersrivastava13 commented on #81
See you can make something like this :

Name, Photograph with LinkedIn and GitHub account. I made this page earlier for one of the projects. If you need any help you can DM me on slack. On mouse hover to the profile, the GitHub and LinkedIn icon can pop up.

![team](https://user-images.githubusercontent.com/56088741/126440624-915550d7-e040-4251-b9f8-9c6129766ccd.PNG)

[2021-07-21 06:37] #91 closed

[2021-07-21 06:40] #80 closed

[2021-07-21 08:11] kumarishalini6 commented on #81
Sure

[2021-07-24 15:20] #85 closed

[2021-07-24 15:21] sameersrivastava13 commented on #81
@kumarishalini6 It's almost a week. Any updates?

[2021-07-24 15:33] kumarishalini6 commented on #81
Sorry but my laptop is not working it takes time if you want you can assign it to someone else.

[2021-07-24 19:17] aditya687 commented on #33
Can I contribute for logo design @Sejal2801 @sameersrivastava13? Please assign me this issue .

[2021-07-25 04:25] #81 closed

[2021-07-25 04:25] sameersrivastava13 opened #94 "Design/Add a Page for project Contributors + Admin + Mentors (HTML+CSS+Bootstrap)"
### Description
Design a Page or directly build a page for the Project Contributors, Mentors and Project admin. The page should have two parts:

Project Admin and Mentors (Name, photograph, GitHub & LinkedIn )
Contributors (Name, photograph, GitHub & LinkedIn )

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/sameersrivastava13/Vaccine-Tracker-App/blob/main/CONTRIBU

[2021-07-25 04:26] sameersrivastava13 commented on #33
Yes please @aditya687. Go ahead.

[2021-07-25 04:33] sameersrivastava13 opened #95 "Add Search by pincode page. (HTML+CSS)"
### Description

The Two main features of our application are yet to be developed :

1. Search by  Pincode
2. Search by District Name

Therefore build responsive frontend for the search by pincode feature for our application. It should have two input fields :

1.  text field
2. date field

Take reference from [here.](https://www.sanjeevaniportal.xyz/vaccinetrackerbypincode)

Have you read the [Con

[2021-07-25 04:40] sameersrivastava13 opened #96 "Add Search by district name page. (HTML+CSS)"
### Description

The Two main features of our application are yet to be developed :

1. Search by  Pincode
2. Search by District Name

Therefore build responsive frontend for the search by district name feature for our application. It should have 3 input fields :

1.  Drop down list to select state name.
2.  Drop down list to select district name.
3. date field

Take reference from [here.](https:/

[2021-07-25 06:51] akshay399 commented on #96
can i work on this?

[2021-07-25 08:00] sameersrivastava13 commented on #96
Yes please @akshay399 . Go ahead. And keep posting the updates here.

[2021-07-25 14:27] SukhbirSinghKhalsa commented on #95
Can I work on this frontend part?
this needs 2 sections:
1st section:
pincode
date

2nd section:
state
district
date

if it is right, assign me this issue,please

[2021-07-25 14:53] sameersrivastava13 commented on #95
Yes @SukhbirSinghKhalsa. Go ahead. But keep posting the updates here. We want this asap.

[2021-07-25 21:12] SukhbirSinghKhalsa commented on #95
please check, and revert for changes :
Link:(https://basicss.000webhostapp.com/pinbean.html)

the alerts will be removed, they are just added for testing purposes.

[2021-07-26 03:52] dilroseR commented on #94
can i do this?

[2021-07-26 05:04] Sejal2801 commented on #94
Yes @dilroseR Assigning it to you, Go ahead.

[2021-07-26 05:44] Sejal2801 commented on #95
Hey @SukhbirSinghKhalsa ,
Its looking very basic, Add some styling, and change the color combination also.

[2021-07-27 10:01] sameersrivastava13 commented on #95
Similarly do for search by  district name page. @SukhbirSinghKhalsa

[2021-07-27 10:02] sameersrivastava13 commented on #96
@akshay399 Updates?

[2021-07-27 10:10] akshay399 commented on #96
hi @sameersrivastava13 should i keep the background image of body same?
![Search by district - Brave 27-07-2021 15_37_32](https://user-images.githubusercontent.com/55823965/127136762-e26de75f-eeef-40cf-bc8d-05964f5238ef.png)

[2021-07-27 10:29] sameersrivastava13 commented on #96
@akshay399 Its up to you. If you have any other design in mind. Do that.

[2021-07-27 10:37] akshay399 commented on #96
ok cool, i'll make it responsive and push it by evening

[2021-07-28 04:42] sameersrivastava13 commented on #96
@akshay399 Waiting.

[2021-07-28 04:42] sameersrivastava13 commented on #94
@dilroseR Updates?

[2021-07-28 04:58] dilroseR commented on #94
in progress will make a pr in 1-2 days

[2021-07-28 09:39] #94 closed

[2021-07-28 10:11] sameersrivastava13 opened #100 "Add Contributors Details"
### Description

We have the project [contributors page](https://vaccine-tracker-app.netlify.app/aboutus.html) ready with us . All contributors who have previously contributed to the project, add your name, photograph, GitHub and LinkedIn link.

**_Only for all those who contributed to the project previously._**

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/samee

[2021-07-28 10:35] akshay399 commented on #96
hi @sameersrivastava13  sorry for the delay my wifi was acting up, [here](https://github.com/sameersrivastava13/Vaccine-Tracker-App/pull/101) is the PR i just made.

[2021-07-28 11:32] ushmita4 opened #102 "Add search by pincode and district feature using API."
I wish to create the search by pincode and district feature available by using API.

[2021-07-28 15:18] sameersrivastava13 commented on #102
go ahead @ushmita4

[2021-07-28 16:52] ayushsoni1010 opened #103 "Adding my avatar in the contributor's page"
**Description**
Heyy @sameersrivastava13 👋

I want to add my avatar in the contributor's page.
As I have contributed to this project, So I would like to add.

**Solution**
PR got merged + name in the score sheet

[2021-07-28 17:01] sameersrivastava13 commented on #103
Yes go ahead @ayushsoni1010. Am closing this issue as I have already created one. #100

[2021-07-28 17:01] #103 closed

[2021-07-28 17:01] sameersrivastava13 commented on #100
@ayushsoni1010 go ahead.

[2021-07-28 17:50] #95 closed

[2021-07-28 18:54] SukhbirSinghKhalsa commented on #100
![sukhbir](https://user-images.githubusercontent.com/58480511/127379571-9df41fc7-b74f-4176-b2ca-052e5c89e7c5.jpg)

Name:
Sukhbirsingh Khalsa
Github:
https://github.com/SukhbirSinghKhalsa/
Linkedin: https://www.linkedin.com/in/sukhbirsinghkhalsa/

[2021-07-29 05:33] anupamishra333 commented on #100
@sameersrivastava13 wanted to add my infomation.

[2021-07-29 05:55] sameersrivastava13 commented on #100
@anupamishra333 Go ahead. Submit PR.

[2021-07-29 08:13] #96 closed

[2021-07-29 10:26] deed-pooL commented on #100
Hey, where should I add my details?

[2021-07-29 10:43] sameersrivastava13 commented on #100
[contributors page](https://vaccine-tracker-app.netlify.app/aboutus.html) @deed-pooL .
Take help from @anupamishra333 on slack.

[2021-07-30 17:57] sameersrivastava13 commented on #102
@ushmita4 Updates?

[2021-07-31 04:15] ushmita4 commented on #102
@sameersrivastava13 Sir I tried a lot but somehow I am not able to do.

[2021-07-31 04:59] Sejal2801 commented on #102
Its okay dear. No problem.

[2021-07-31 17:01] anupamishra333 commented on #100
@deed-pooL kindly see file changes in my pull request , do the same here is link of my PR:-
https://github.com/sameersrivastava13/Vaccine-Tracker-App/pull/106/files

[2021-08-08 16:05] Sayan-15 commented on #100
favicon was submitted, and it was successfully merged too. How ,I have to submit the name, id and photo? With PR request? or any google form is there?

[2021-08-08 16:20] anupamishra333 commented on #100
You have to edit code for it. There is no google form. @Sayan-15

On Sun, Aug 8, 2021, 9:36 PM Sayan-15 ***@***.***> wrote:

[2021-10-02 08:38] #100 closed